 .product-category {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;


}

.cat-btn {
    height: 40px;
    padding: 10px 20px;
    margin: 5px;

}

.product-main {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;



}
